body {
  padding: 1rem;
  font-family: sans-serif;
  margin: 2rem;
  background-color: #f7f7f7;
}

output {
  display: block;
  min-height: 1rem;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 3px;
}

form {
  margin-bottom: 1rem;
}

main {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}


section {
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  min-width: 200px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

button {
  margin: 0.5rem 0.5rem 0 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
}